/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #7A86F5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

.login-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin: 10px 0;
}

.submit-button {
  display: flex;
}

label {
  text-align: start;
  display: block;
  font-weight: bold;
}

input {
  width: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007BFF;
  color: #fff;
  margin: auto;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.app-info {
  display: flex;
  align-items: center;
}

.app-name {
  margin-right: 10px;
}

.app-logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}